<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Users - Manage</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{webjars/font-awesome/6.5.2/css/all.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>

<body>
	<div class="container-fluid">

		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}">
					<img th:src="@{images/ShopmeAdminSmall.png}" class="d-inline-block align-text-top">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/users}">Users</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/categories}">Categories</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/brands}">Brands</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/poducts}">Products</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/customers}">Customers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/shippings}">Shippings</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/orders}">Orders</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/report}">Sales Report</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/articles}">Articles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/menu}">Menu</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/settings}">Settings</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</div>
	<div class="container-fluid">
		<div>
			<h1>Users - Manage</h1>
			<div class="container-fluid">
				<div class="btn-group" role="group" aria-label="Basic outlined example">
					<a class="btn btn-primary " th:href="@{/users/create}">Create Users</a>
				</div>
				<div th:if="${message!=null}" class="alert alert-success text-center">
					[[${message}]]
				</div>
				<table class="table  table-hover table-resposive-xl table-striped table-bordered">
					<thead class="table-dark">
						<tr>
							<th>User ID</th>
							<th>Photos</th>
							<th>Email</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Role</th>
							<th>Enable</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${lstUsers} ">
							<td>[[${user.id}]]</td>
							<td>[[${user.photos}]]</td>
							<td>[[${user.email}]]</td>
							<td>[[${user.firstName}]]</td>
							<td>[[${user.lastName}]]</td>
							<td>
								[[${user.roles}]]
							</td>
							<td>
								<a th:if="${user.enabled == true}" class="fa fa-check-circle fa-2x icon-green"
									aria-hidden="true" th:href="@{'/users/'+${user.id}+'/updateStatusEnable/false'}"></a>
								<a th:if="${user.enabled == false}" class="fa fa-times-circle fa-2x icon-dark"
									aria-hidden="true" th:href="@{'/users/'+${user.id}+'/updateStatusEnable/true'}"></a>
							</td>
							<td><a class="fa fa-pencil fa-2x icon-green" aria-hidden="true" th:href="@{'/users/edit/' +${user.id}}"></a>
								&nbsp;
								<a class="fa fa-trash fa-2x icon-dark link-delete" aria-hidden="true" th:href="@{'/users/delete/' +${user.id}}" th:userId = "${user.id}"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<p>Shopme control Panel - Copyright &copy; Shopme</p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="modal-body">

				</div>
				<div class="modal-footer">
					<a type="button" class="btn btn-success" href=""  id="yesBtn">Yes</a>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			$(".link-delete").on("click",function(e){
				e.preventDefault();
				var link = $(this);
				userId = link.attr("userId")
				showDialogMessage("Delete Confirmation","Are you sure want to delete this user ID : "+userId)
				$("#yesBtn").attr("href", link.attr("href"))
			});
		});
		function showDialogMessage(title, message) {
		$("#staticBackdropLabel").text(title);
		$("#modal-body").text(message);
		$('#staticBackdrop').modal('show');
	}
	</script>
</body>

</html>